
<ion-header>
  <ion-toolbar color="primary">
    <img src="/assets/img/logo-duoc1.png" alt="image" width="200px" class="ion-padding-horizontal">
    <ion-title #titulo>
      Sistema de asistencia DUOC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top">
    <ion-label class="ion-text-center">
      <h1>¡Bienvenido!</h1>
      <p *ngIf="usuario">{{ usuario.nombre }} {{ usuario.apellido }}</p>
      <h4>Escanea el código QR para registrar tu asistencia a clases</h4>
    </ion-label>
  </ion-title>
  
  <ion-card>
    <div style="display: flex; align-items: center;justify-content: center;">
      <ion-img src="assets/img/QR.png" class="ion-padding"></ion-img>
    </div>
    
  </ion-card>

    <ion-label>
      <ion-item href="ingreso">
        <ion-label class="ion-text-center">Cerrar sesión</ion-label>
      </ion-item>
    </ion-label>
  
</ion-content>

