
<ion-header>
  <ion-toolbar color="primary">
    <img src="/assets/img/logo-duoc1.png" alt="image" width="200px" class="ion-padding-horizontal">
    <ion-title #titulo>
      Sistema de asistencia DUOC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top">
    <ion-label class="ion-text-center">
      <h1>Datos de la asignatura</h1>
    </ion-label>
  </ion-title>
  

    <ion-label>
      <ion-item href="ingreso">
        <ion-label class="ion-text-center">Cerrar sesión</ion-label>
      </ion-item>
    </ion-label>
  
</ion-content>